{% extends 'base.html' %}

{% block content %}

{% load static %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'blog/img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Alex's blog</h1>
            <span class="subheading">Welcome to my blog! Read, learn, become better!</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in featured %}
        <div class="post-preview">
          <a href="{% url 'post' post.pk %}">
            <h2 class="post-title">
              {{ post.title }}
            </h2>
            <h3 class="post-subtitle">
              {{ post.overview }}
            </h3>
          </a>
          <h5 class="post-meta">
          {% for cat in post.categories.all %}
            <a href="{% url 'categories' cat.pk %}">{{ cat }}</a>
          {% endfor %}
          </h5>
          <p class="post-meta">Posted by
          {{ post.author.first_name }} {{ post.author.last_name }}
            on {{ post.published_date }}</p>
        </div>
        <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{% url 'posts' %}">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>


{% endblock %}
